
root = true

[*]
end_of_line = lf
charset = utf-8

[*.{php|yml|yaml|json|xml},.php_cs.dist,phpunit.xml.dist]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
